.benefits {
  padding-top: 4rem;
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;

  @media screen and(max-width: $mobile) {
    padding-top: 2rem;
    height: auto;
  }

  @media screen and(max-width: $tablet) {
    padding-bottom: 3rem;
  }
}

.benefits__list {
  @include list-reset;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}

.benefits__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  min-width: 25%;
  text-align: center;

  @media screen and(max-width: $mobile) {
    min-width: 50%;
  }

  @media screen and(min-width: $mobile) and(max-width: $tablet) {
    min-width: 33%;
  }
}

.benefits__title {
  margin-bottom: 2rem;
  font-weight: 500;
  line-height: 1.5;

  &::before {
    content: "";
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    width: 4.5rem;
    height: 4.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &--01::before {
    background-image: url("../img/benefit-01.svg");
  }

  &--02::before {
    background-image: url("../img/benefit-02.svg");
  }

  &--03::before {
    background-image: url("../img/benefit-03.svg");
  }

  &--04::before {
    background-image: url("../img/benefit-04.svg");
  }

  &--05::before {
    background-image: url("../img/benefit-05.svg");
  }

  &--06::before {
    background-image: url("../img/benefit-06.svg");
  }

  &--07::before {
    background-image: url("../img/benefit-07.svg");
  }

  &--08::before {
    background-image: url("../img/benefit-08.svg");
  }

  @media screen and(max-width: $mobile) {
    margin-bottom: 1.5rem;
    font-size: 0.825rem;

    &::before {
      margin-bottom: 1rem;
    }
  }
}
