.benefits {
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;

  @media screen and(max-width: $tablet) {
    padding-bottom: 3rem;
    height: auto;
  }
}

.benefits__list {
  @include list-reset;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}

.benefits__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 25%;
  text-align: center;

  &:hover {
    & .benefits__descr {
      opacity: 1;
      transition: 0.5s;
    }
  }

  @media screen and(max-width: $mobile) {
    min-width: 50%;
  }

  @media screen and(min-width: $mobile) and(max-width: $tablet) {
    min-width: 33%;
  }
}

.benefits__title {
  margin-bottom: 2rem;
  font-weight: 500;
  line-height: 1.5;

  &::before {
    content: "";
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    width: 4.5rem;
    height: 4.5rem;
    background-color: $yellow;
  }

  @media screen and(max-width: $mobile) {
    margin-bottom: 1.5rem;
    font-size: 0.825rem;

    &::before {
      margin-bottom: 1rem;
    }
  }
}

.benefits__descr {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem;
  border: 1px solid rgba($dark-blue, 0.1);
  background-color: rgba($white, 0.8);
  opacity: 0;
  transition: 0.5s;
}

.benefits__descr-title {
  margin: 0;
  margin-bottom: 1rem;
  font-weight: 500;
}
