.footer {
  @include screen;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem; // для копирайтов
  color: $white;
  background-image: url("../img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__inner {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 80%;
}

.footer__slogan {
  margin: 0;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;

  @media screen and(max-width: $mobile) {
    font-size: 4rem;
  }
}

.footer__logo {
  margin-top: 1rem;
  width: auto;
  height: 6rem;

  @media screen and(max-width: $mobile) {
    height: 4rem;
  }
}

.footer__link {
  display: flex;
  align-items: center;
  margin-top: 5rem;
  color: $yellow;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  white-space: nowrap;
  transition: all 0.5s;

  &:hover {
    opacity: 0.5;
    transition: all 0.5s;
  }

  &-arrow {
    margin-left: 1rem;

    & path {
      fill: $yellow;
    }
  }

  @media screen and(max-width: $mobile) {
    font-size: 0.8rem;
  }
}

.footer__copyright {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: 1;
  text-align: center;
  background-color: rgba(black, 0.5);
}
