.header {
  @include screen;
  display: flex;
  flex-direction: column;
  padding-bottom: 3.5%;
  color: $white;
  background-color: $dark-blue;
  background-image: url("../img/bg-video.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and(max-width: $mobile) {
    background-image: url("../img/bg-video__small.jpg")
  }
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s;

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.5rem 3.5%;
    min-height: 3rem;
    background-color: rgba(black, 0.5);
    z-index: 3;
    transition: all 0.2s;

    .header__logo-img {
      transform: scale(0.8);
    }
  }
}

.header__logo-img {
  display: block;

  @media screen and(max-width: $mobile) {
    width: 70%;
  }
}

.header__nav {
  @media screen and(max-width: $desktop-small) {
    display: none;
  }
}

.header__nav--opened {
  @media screen and(max-width: $desktop-small) {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($dark-blue, 0.95);

    & .header__nav-link {
      display: block;
      margin: 0;
      font-size: 2rem;
      line-height: 2;
    }

    & .header__close {
      display: block;
    }
  }
}

.header__close {
  display: none;
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    opacity: 1;
    transition: all 0.5s;
  }

  &::before,
  &::after {
    position: absolute;
    left: 15px;
    content: "";
    height: 33px;
    width: 2px;
    background-color: $white;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.header__nav-link {
  font-weight: 500;
  letter-spacing: 0.08em;
  color: $white;
  transition: all 0.5s;

  &:hover,
  &.active {
    color: $yellow;
    transition: all 0.5s;
  }

  & + & {
    margin-left: 3.5em;
  }
}

.header__burger {
  @include button-reset;
  display: none;
  margin-left: auto;
  margin-right: 2rem;
  line-height: 0;

  @media screen and(max-width: $mobile) {
    & svg {
      width: 24px;
      height: 24px;
    }
  }

  @media screen and(max-width: $desktop-small) {
    display: block;
  }
}

.header__instagram {
  display: block;
  width: 32px;
  height: 32px;
  line-height: 0;
  background-image: url("../img/instagram.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s;

  &:hover {
    opacity: 0.5;
    transform: scale(0.9);
    transition: all 0.5s;
  }

  @media screen and(max-width: $mobile) {
    width: 24px;
    height: 24px;
  }
}

.header__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  height: 50%;
}

.header__big-logo {
  width: 20rem;
  transition: width 0.5s;

  @media screen and(max-width: $mobile) {
    width: 12.5rem;
    transition: width 0.5s;
  }
}

.header__heading {
  width: 35rem;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.08em;
  line-height: 1.6;
  text-align: center;

  @media screen and(max-width: $mobile) {
    width: 90%;
    font-size: 1rem;
  }
}

.header__play {
  width: 6rem;
  min-height: 4.6rem;
  cursor: pointer;
  transition: all 0.5s;

  path {
    transition: all 0.5s;
  }

  &:hover {
    transform: scale(0.9);
    transition: all 0.5s;

    path {
      fill: $white;
      transition: all 0.5s;
    }
  }

  @media screen and(max-width: $mobile) {
    width: 4rem;
    min-height: 2.8rem;
  }
}

.header__descr {
  margin-top: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.08em;
  text-align: center;

  @media screen and(max-width: $mobile) {
    margin-top: 1rem;
    font-size: 1rem;
  }
}
