* {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;

  font-family: $font-family;
  font-size: 1.125rem;
  line-height: 1.6;
  color: $dark-blue;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

img {
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  visibility: hidden;
}

.accent {
  color: $yellow;
}

.screen {
  box-sizing: border-box;
  padding-top: 3.5%;
  padding-left: 3.5%;
  padding-right: 3.5%;
  height: 100vh;
}

.heading-2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  &--light {
    color: $white;
  }
}

.quote {
  position: relative;
  margin: 0;
  padding-left: 3.5rem;
  font-size: 1.5rem;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3rem;
    height: 3rem;
    background-image: url("../img/quotes.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  @media screen and(max-width: $mobile) {
    font-size: 1.125rem;

    &::before {
      width: 1.75rem;
      height: 1.75rem;
    }
  }
}

.name {
  margin: 0;
  padding-left: 3.5rem;
  font-size: 3rem;
  font-weight: 700;
  color: $white;

  @media screen and(min-width: $mobile) {
    margin-top: 8rem;
  }
}

.position {
  margin: 0;
  padding-left: 3.5rem;
  font-size: 1.5rem;
  color: $white;
}

.slider-half {
  @include outliner;
  position: relative;
  display: flex;
  height: 100vh;

  & img {
    width: auto;
    height: 100%;
  }

  @media screen and (max-width: $tablet) {
    flex-direction: column;
    justify-content: center;

    & .slider__content {
      flex-grow: 1;
      order: 1;
    }
  }

  @media screen and (min-width: $desktop) {
    & .slider__content {
      width: 70%;
    }
  }
}

.slider-half__info {
  box-sizing: border-box;

  @media screen and(max-width: $tablet) {
    padding: 3.5%;
    padding-top: 5%;
  }

  @media screen and(max-width: $tablet) and (min-width: $mobile - 1) {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  }

  @media screen and(min-width: $desktop) {
    align-self: center;
    padding-left: 6.75rem;
    padding-right: 2.5rem;
    width: 30%;
    min-width: 25rem;
  }
}

.slider-half__text {
  @media screen and(max-width: $tablet) and (min-width: $mobile - 1) {
    margin: 0;
    width: 50%;
  }
}

.slider__content {
  position: relative;
  overflow: hidden;
  cursor: move;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  overflow: hidden;
  transition: 0.5s;
  z-index: 1;

  &.active {
    opacity: 1;
    transition: 0.5s;
    z-index: 2;
  }
}

.slider__nav {
  @include list-reset;
  position: absolute;
  right: 1.75rem;
  bottom: 1.75rem;
  display: flex;
  z-index: 2;

  &--light {
    .slider__dot {
      border: 1px solid $white;

      &.active,
      &:hover {
        background-color: $white;
      }
    }
  }
}

.slider__dot {
  box-sizing: border-box;
  width: 0.5rem;
  height: 0.5rem;
  border: 1px solid $yellow;
  cursor: pointer;
  transition: 0.2s;

  & + & {
    margin-left: 0.5rem;
  }

  &.active,
  &:hover {
    background-color: $yellow;
    transition: 0.2s;
  }
}

.slider__controls {
  @include button-reset;
  position: absolute;
  top: 50%;
  width: 4rem;
  height: 4rem;
  background-color: $white;
  transform: translateY(-50%);
  z-index: 2;

  & svg path {
    fill: $dark-blue;
  }

  &--prev {
    left: 0;
  }

  &--next {
    right: 0;
  }
}
