@mixin list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin button-reset {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background: transparent;
  cursor: pointer;
}

@mixin screen {
  box-sizing: border-box;
  padding-top: 3.5%;
  padding-left: 3.5%;
  padding-right: 3.5%;

  @media screen and(max-width: $mobile) and(min-height: 400px) {
    height: 100%;
  }

  @media screen and(min-width: $mobile) and(min-height: 600px) {
    height: 100%;
  }
}

// @mixin

@mixin outliner { // temp
  outline: 1px dotted green;

  // @media screen and (min-width: $tablet) {
  //   outline-color: red;
  // }
  //
  // @media screen and (min-width: $desktop) {
  //   outline-color: blue;
  // }
}
