$desktop-width: 1270;
$desktop-height: 768;
$desktop-width-percent: $desktop-width / 1366 * 100%;

$mobile: 767px;
$desktop-small: 1280px;
$desktop: 1024px;
$tablet: 1023px;

$font-family: "Ubuntu", "Arial", sans-serif;
$dark-blue: #182d4d;
$yellow: #ffde00;
$dark-yellow: #ffb800;
$white: #ffffff;
